# Exclude contents of `node_modules` except symlinks to modules in `/lib`.

# Include `node_modules`
!node_modules/
# Exclude everything inside
node_modules/*

# The following paths should be symlinks to modules inside `/lib`.
# Use the following command to create a symlink.
#
#     cd node_modules && ln -s ../lib/foo foo
#
#!node_modules/foo

# Generated
compiled/

# Temp
.vagrant
.monitor
tmp/
npm-debug.log

# IntelliJ
.idea/workspace.xml
.idea/tasks.xml

# Bower Components
assets/vendor/components
