extend layout
block main
  div(style="text-align: center; margin-top: 50px")
    .lead Sign up
    - if (typeof error !== 'undefined' && error.length)
      ul#errors.alert.alert-error
        - each e in error
          li.error= e
    form(action='/register', method='post')
      #name
        label(for="name") Name
        input(placeholder="Name", type='text', name="name")
      #login
        label(for="username") Email
        input(placeholder="Email", type='text', name="username")
      #password
        label(for="password") Password
        input(placeholder="Password", type='password', name="password")
      #submit
        button.btn(type='submit') Register

    a(href="/login") Already have an account? Login.
