include mixins
!!!
html
  head
    title= title
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    != js('application.js')
    != css('style.css')
  body
    block main
  .bottom-menu
    .container: .row
      .span3.brand
        a(href='#'): +logo
      .span7
        ul.bottom-links
          li: a(href="#") About Us
          li: a(href="#") Privacy
          li: a(href="#") Follow Us
      .span2
        ul.bottom-icons
          li: a.fui-facebook(href='#')
          li: a.fui-twitter(href='#')
